
@media screen and (min-width: 768px) {
	body {
			box-sizing: border-box;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			background-image: url(./public/background.png);

			margin-top: 15px;
	}
	#pizza_container {
			width: 26vw;
			text-align: center;
			margin-top: 2em;
			
	}
	h1 {
			font-size: 6.1em;
	}
	#pizza_img {
			width: 100%;
			position: relative;
			position: absolute;
			margin-top: 0;
			filter: drop-shadow(5px 5px 1px black);
			top: 0;
			left: 0;
	}
	#plateauPizza_img {
			width: 100%;
	}

	header {
			display: flex;
			flex-direction: column-reverse;
			width: 100%;
			justify-content: center;
	}
	#scrollingText {
			font-size: 1rem;
			font-weight: bold;
	}

	#modalPizza {
			display: flex;
			flex-direction: column;
			width: 100%;
	}
	#navMultiplicateurs {
			display: none;
	}
	#scrollingText_container {
			width: 80%;
			margin: 0;
			
	}
	main {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 20rem;
	}
	#sliceOfPizza_count {
			height: 8rem;
			width: 28rem;
			font-size: 60px;
	}

	#navMenu {
			height: 8rem;
			width: 85%;
			
	}

	#navMenu ul a {
			font-size: 3rem;
	}
	#navMultiplicateursDesktop {
			display: flex;
			flex-direction: column;

			gap: 2rem;
			list-style: none;
			position: absolute;
			bottom: -15rem;
			right: -22rem;
	}
	#navMultiplicateursDesktop button {
			width: 10rem;
			height: 10rem;
	}
	#shroomCost {font-size: 25px;
		 font-weight: bold;
		  font-family: sans-serif; 
		}

	#tomatoeCost {font-size: 25px;
		 font-weight: bold; 
		 font-family: sans-serif; 
		}

	#bellPepperCost {font-size: 25px;
		 font-weight: bold;
		  font-family: sans-serif; 
		}

	#oliveCost {font-size: 25px;
		 font-weight: bold;
		  font-family: sans-serif; 
		}

		#navMultiplicateursDesktop img {
			height: 80px;
		}
			
#navMultiplicateursDesktop span {
	position: absolute;
	border: solid 2px black;
	bottom: -1rem;
	right: -.5rem;
	width: 50px;
	height: 50px;
	background-color: whitesmoke;
	border-radius: 50%;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	
}

.closeBtn {
	border: solid 1px black;
	border-radius: 50%;
	border-style: groove;
	border-color: #efae33;
	padding: 10px;
	background-color: #cb2026;
	filter: drop-shadow(2px 2px 1px black);
	width: 3%;
	margin-left: auto;
	margin-right: auto;
	font-family: fantasy;
	color: #ffcf52;
}


}