* {
  box-sizing: border-box;
}

body {
  background-image: url(/public/background.png);
  background-size: cover;
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100vh;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 28vh;
}

/*TEXTE DEFILANT*/

#scrollingText_container {
  width: 100%;                      
  overflow: hidden;              
  top: 0;
  margin-bottom: 15px;
}

#scrollingText {
  display: inline-block;                
  white-space: nowrap;                  
  padding-left: 50%;                   
  animation: scroll-text 15s linear infinite;
  font-size: 15px;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}

@keyframes scroll-text {
  from {
    transform: translateX(100%);      
  }
  to {
    transform: translateX(-100%);  
  }
}


/*Style titre H1*/

h1 {
  margin: 0;
  font-size: 3.1rem;
  color: #cb2026;
  font-family: fantasy;
  text-shadow: 2px 2px 0px black, -2px 2px 0px black, -2px -2px 0px black,
    2px -2px 0px black;
  -webkit-text-stroke: .5px #efae33;
  letter-spacing: 0.5px;
}


/*COMPTEUR DE PIZZA*/

#sliceOfPizza_count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  background-color: #cb2026;
  border-radius: 25px;
  filter: drop-shadow(2px 2px 1px black);
  border: groove 2px #efae33;
  color: #ffcf52;
  font-family: fantasy;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 0px black;
  margin-top: 20px;
}

#pizza_container {
  position: relative;
}
#plateauPizza_img {
  position: relative;
  width: 90%;
}
#pizza_img {
  position: absolute;
  width: 80%;
  margin-top: 4em;
  filter: drop-shadow(5px 5px 1px black);
  top: 5%; 
  left: 10%;
}


/*Animations sur la pizza au passage de la souris et au click*/

#pizza_img:hover {
  transform: scale(1.1);
}

#pizza_img:active {
  transform: rotate(2deg);
  filter: drop-shadow(0px 0px 0px black);
}


/*ANIMATION CHAMPIGNON*/
/*pour déterminer la position du champignon au dessus de la pizza*/
/* #mushroomSlice_container {
width: 10vw;
position: absolute;
z-index: 1000;
}

/*Animation de chute du champignon*/
/*#mushroomSlice_container{
transform : translate(200px,200px) ;

}
#mushroomSlice_img {
width: 100%;
animation-duration: 3s;
animation-name: slidein;
animation-iteration-count: infinite;
}
@keyframes slidein {

from {
margin-left: 100%;
width: 300%;
}
to {
margin-left: 0%;
width: 100%;
}
}
*/



/*MULTIPLICATEURS*/

/*Menu des multiplicateurs*/

#navMultiplicateurs li {
  list-style: none;
}

#navMultiplicateurs {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

#navMultiplicateurs img {
  height: 50px;
}


/*Stylisation des boutons*/

button {
  border: solid 2px black;
  box-shadow: 1px 1px black;
  /*background-color: none;*/
  border-radius: 10px;
  padding: 5px;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

button:hover {
  background-color: wheat;
  transform: scale(1.1);
}

#navMultiplicateurs span {
  position: absolute;
  border: solid 1px black;
  bottom: -1rem;
  right: -.5rem;
  width: 35px;
  height: 35px;
  background-color: rgb(246, 244, 243);
  border-radius: 50%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


/* NAV */

/*Style de la nav*/

#navMenu {
  background-color: #cb2026;
  height: 40px;
  border-radius: 18px;
  filter: drop-shadow(2px 2px 1px black);
  border-style: groove;
  border-radius: 10px 25px;
  border-color: #efae33;
  margin-bottom: 30px;
}

#navMenu ul {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 20px;
}

#navMenu ul a {
  text-decoration: none;
  color: #ffcf52;
  font-family: fantasy;
  text-shadow: 2px 2px 0px black, -2px 2px 0px black, -2px -2px 0px black,
    2px -2px 0px black;
}


/*Style Modals de la nav*/

.modal {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modalHidden {
  display: none;
  pointer-events: none;
}

.modalContent {
  width: 90%;
  height: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.closeBtn {
  /* position: relative;
  top: 10px;
  right: 15px;
  font-size: 24px;
  z-index: auto; */
  border: solid 1px black;
  border-radius: 50%;
  padding: 10px;
}

footer {
  display: none;
}

